@import '@/assets/scss/main.scss';

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;

  &__wrapper {
    width: var(--main-width);
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 0 var(--padding-x);
    box-sizing: border-box;
  }

  &__presentation {
    width: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #191E23;
    overflow: hidden;
  }

  &__team {
    margin-top: 16px;
    width: var(--main-width);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__coach {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo {
      flex-shrink: 0;
      width: var(--img-coach);
      height: var(--img-coach);
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #1ebe1e;
    }

    &__desc {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__name {
        color: #1ebe1e;
        font-size: 1.125em;
        font-weight: 600;
      }

      &__post {
        font-size: 0.875em;
      }

      &__contact {
        font-size: 0.875em;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .about {
    height: auto;

    &__wrapper {
      padding: 24px;
    }

    &__coach__desc__name {
      font-size: 1em;
    }

    &__presentation {
      padding: 24px 0px;
    }

    &__team {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 12px;
      column-gap: 12px;
    }
  }
}