@import '@/assets/scss/main.scss';

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(~@/assets/bckg_img/crsft_frst_1.jpg);
  background-size: cover;
  background-position: center;
  z-index: 20;
  will-change: transform;
  transform: translate3d(0, calc(var(--scroll-top) / 3), 0);
}