@import '@/assets/scss/main.scss';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background: rgba(10, 10, 10, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &__block {
    width: var(--main-width);
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &__links {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 40px;
  }

  &__link {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 3px #fafafa;
    color: #fcfcfc;
    margin-right: 24px;

    &:hover {
      color: #FFCB00;
      text-shadow: 0 0 8px #fafafa;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}