@import '@/assets/scss/main.scss';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background: rgba(10, 10, 10, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &__block {
    width: var(--main-width);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    box-sizing: border-box;
  }

  &__logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &__links {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 40px;
  }

  &__link {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 3px #fafafa;
    color: #fcfcfc;
    margin-right: 24px;

    &:hover {
      color: #FFCB00;
      text-shadow: 0 0 8px #fafafa;
    }

    &-active {
      color: #1ebe1e;
      text-shadow: 0 0 8px #fafafa;
    }

    &:last-child {
      margin-right: 0px;
    }
  }

  &__contacts {
    display: flex;
    margin-left: auto;
    height: 100%;
    align-items: center;
  }

  &__contact {
    display: flex;
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    margin-left: 12px;

    &:first-child {
      margin-left: 0px;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__block {
      padding: 0 12px;
    }

    &__links {
      margin-left: 12px;
    }
    &__link {
      font-size: 12px;
      margin-right: 8px;

      &:hover {
        color: unset;
        text-shadow: unset;
      }
    }

    &__logo {
      width: 40px;
      height: 40px;
    }
  }
}